<app-header></app-header>
<div class="col-md-6 offset-md-3">
<div class="card">
  <div class="card-header">Profile</div>
  <div class="card-body">
  <div class="row">
    <div class="col-md-4 pull-right">Name:</div>
    <div class="col-md-5">{{profile.name}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 pull-right">Email:</div>
    <div class="col-md-5">{{profile.email}}</div>
  </div>
  <div class="row">
      <div class="col-md-4 pull-right">Phone:</div>
      <div class="col-md-5">{{profile.phone}}</div>
    </div>
  </div>
</div>
</div>