<nav class="navbar navbar-expand-sm bg-dark">
</nav>    
    <section class="h-100">
      <div class="container h-100">
          
        <h3>Simple flow without email/phone verification</h3>
        Run this flow <a routerLink="/f1/signup">here</a>
        <ul>
          <li>Users sign up with their email address. Phone number is optional.</li>
          <li>No verification of email address or phone number is done. </li>
          <li>Users are allowed to sign in with their email address without any verification.</li>
          <li>Auth Tokens are persisted as cookies which are used to remember the user across page refreshes and tab switches.</li>
          <li>Phone number, Name and password are displayed after the user signs in.</li>
          <li>If unauthenticated users try to access a secure url (like /f1/dashboard, they are redirected to the corresponding sign in page)</li>
          <li>Sign-up/Sign-in with Google is also enabled</li>
        </ul>
        <img src="assets/img/CognitoAuthnF1.png" />
      </div>
    </section>
