<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/f1">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">OTHER FLOWS</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="!checkingAuth && !isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/f1/signin">LOG IN</a>
        </li>
        <li *ngIf="!checkingAuth && !isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/f1/signup">SIGN UP</a>
        </li>
        <li *ngIf="!checkingAuth && isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/f1/dashboard">DASHBOARD</a>
        </li>
        <li *ngIf="!checkingAuth && isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="" (click)="signOut()">LOG OUT</a>
        </li>
      </ul>
</nav> 